
body {
    font-family: Arial;
    margin: 0;
}
  
  /* Header/Logo Title */

.header {
    padding: 60px;
    text-align: center;
    background-color: #4d97ff;
    color: white;
    font-size: 30px;
}
  

.content {
    padding:20px;
}