
body {
    font-family: Arial;
    margin: 0;
}
  
  /* Header/Logo Title */

.header {
    padding: 60px;
    text-align: center;
    background-color: #4d97ff;
    color: white;
    font-size: 30px;
}
  

.content {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
}

.content>div{
    flex: 1 1 150px;
    height: 450px;
}

.project_thumbnail{
    height: 200px;
    width: 250px;
}

.project{
    width: fit-content;
    height: fit-content;
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width:100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
